worker_processes 1;

events {
    worker_connections 1024;
}

http {
    resolver 8.8.8.8 ipv6=off;
    client_max_body_size 1G;

    server {
        listen 4000;

        location / {
            gzip on;
            gzip_types *;

            proxy_pass $WEBAPP_HOST;
        }

        location /api/ {
            proxy_pass $API_HOST/;
        }
    }

}
