@import "styles/colors";

.textArea {
    padding: 14px 24px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid $greyBright;

    &:placeholder-shown {
        background: $greyBright;
        border-color: $greyBright;
    }

    &::placeholder {
        color: $grey2;
    }
}
