@import "styles/colors";
@import "styles/mixins";

.background {
    position: relative;
    padding-bottom: 25px;
    height: 100%;
    background-size: contain;
    overflow: hidden;

    // @include media($max: sm) {
    //     height: 591px;
    // }

    &.background-height {
        height: 776px;
        @include media($max: sm) {
            height: 591px;
        }
    }

    #header {
        position: relative;
        z-index: 2000;
    }

    .dashboard-header {
        height: 751px;
    }

    .dashboardContent {
        position: relative;
        z-index: 1;
        background: none;
    }

    .elements {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;

        .backgroundEnd {
            width: calc(100% + 6px);
            position: absolute;
            bottom: -2px;
            left: -3px;
            z-index: 3;

            img {
                width: 100%;
            }
        }

        .shine {
            position: absolute;
            width: 560px;
            right: 100px;
            bottom: 50px;
            opacity: 0.7;
            filter: brightness(0.3) sepia(1) saturate(30) hue-rotate(350deg);

            img {
                width: 100%;
            }
        }

        .moon {
            width: 1000px;
            height: 1000px;
            position: absolute;
            right: -800px;
            bottom: auto;
            top: -350px;
            z-index: 2;

            @include media(md) {
                right: -500px;
                bottom: -400px;
                top: initial;
            }

            img {
                width: 60%;
                height: 100%;
            }
        }

        .pattern {
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
        }

        .backgroundMoon1,
        .backgroundMoon2,
        .backgroundMoon3,
        .backgroundMoon4 {
            position: absolute;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .backgroundMoon1 {
            width: 180px;
            height: 180px;
            left: -90px;
            top: 0;
            opacity: 0.8;
            z-index: 0;
        }

        .backgroundMoon2 {
            width: 300px;
            height: 300px;
            right: 350px;
            bottom: 100px;
            z-index: 0;
        }

        .backgroundMoon3 {
            width: 180px;
            height: 180px;
            right: 100px;
            bottom: -100px;
            z-index: 3;
        }

        .backgroundMoon4 {
            width: 150px;
            height: 150px;
            left: calc(50% - 800px);
            bottom: 200px;
            z-index: 0;
        }
    }
}
