@import "styles/colors";

.app {
    display: flex;
    position: absolute;
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden !important;
}

.messageDialog {
    .dialogArea {
        width: 600px;
    }
}

.react-joyride__tooltip {
    a {
        color: $red;
        text-decoration: underline;
    }

    code {
        padding: 1px 5px;
        background: transparentize($red, 0.6);
        border-radius: 4px;
        color: $red;
    }

    button:focus {
        outline: none;
    }
}

.__floater.__floater__open {
    transition: opacity 0.3s ease !important;
}
