@import "styles/mixins";

.statistics__header {
    margin-bottom: 64px;

    &__title {
        font-size: 32px;
        font-weight: 900;
        line-height: 39px;
        color: $red;
    }

    &__filter {
        &__item {
            margin: 0 24px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 900;
            color: $grey2;
            cursor: pointer;

            &.active {
                padding: 9px 24px;
                border-radius: 16px;
                background-color: $red;
                color: white;
            }
        }

        &__item:last-child {
            margin-right: 0; 
        }
    }
}