@import "styles/mixins";

.networks {
    margin-right: -14px;
    margin-left: -14px;

    @include media(md) {
        display: none;
    }

    a {
        padding: 20px;

        img {
            width: 24px;
            height: 24px;
        }
    }
}
