@import "styles/colors";
@import "styles/mixins";

.contextTabs {
    @include noScrollbar;

    overflow-x: auto;
    display: flex;
    align-items: flex-end;

    &.headerTabs {
        position: relative;
        align-items: baseline;

        .contextTab {
            color: transparentize(white, 0.4);
            font-weight: 700;
            text-align: center;
            text-shadow: 0 0 6px $red;
            flex-shrink: 0;
            cursor: pointer;

            &:not(:first-of-type) {
                margin-left: 32px;
            }

            &.active {
                color: $yellow;
                font-size: 22px;
                font-weight: 900;
                text-shadow: 0 0 8px transparentize($yellow, 0.5);
                cursor: default;

                @include media(md) {
                    font-size: 32px;
                }
            }
        }
    }

    &:not(.headerTabs) .contextTab {
        position: relative;
        color: white;
        opacity: 0.6;
        font-size: 16px;
        text-align: center;
        padding: 4px 10px 22px;
        cursor: pointer;
        // transition: opacity 0.2s;
        flex-shrink: 0;

        @include media(sm) {
            padding: 4px 24px 22px;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 6px;
            border-radius: 4px 4px 0 0;
            // transition: background-color 0.2s;
            background-color: transparent;
        }

        &.active {
            opacity: 1;

            &::after {
                background-color: white;
            }
        }

        &:not(:first-of-type) {
            margin-left: 24px;
        }
    }
}
