.flags.af {
    width: 20px;
    height: 20px;
    background: url("/images/flags/afghanistan-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.al {
    width: 20px;
    height: 20px;
    background: url("/images/flags/albania-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.dz {
    width: 20px;
    height: 20px;
    background: url("/images/flags/algeria-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ad {
    width: 20px;
    height: 20px;
    background: url("/images/flags/andorra-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ao {
    width: 20px;
    height: 20px;
    background: url("/images/flags/angola-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ag {
    width: 20px;
    height: 20px;
    background: url("/images/flags/antigua-barbuda-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ar {
    width: 20px;
    height: 20px;
    background: url("/images/flags/argentina-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.en {
    width: 20px;
    height: 20px;
    background: url("/images/flags/usa-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.fr {
    width: 20px;
    height: 20px;
    background: url("/images/flags/france-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ru {
    width: 20px;
    height: 20px;
    background: url("/images/flags/russia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.am {
    width: 20px;
    height: 20px;
    background: url("/images/flags/armenia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.au {
    width: 20px;
    height: 20px;
    background: url("/images/flags/australia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.at {
    width: 20px;
    height: 20px;
    background: url("/images/flags/austria-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.az {
    width: 20px;
    height: 20px;
    background: url("/images/flags/azerbaijan-flag-icon.svg");
    background-size: contain;
}
  
.flags.bs {
    width: 20px;
    height: 20px;
    background: url("/images/flags/bahamas-na-flag-icon.svg");
    background-size: contain;
}
  
.flags.bh {
    width: 20px;
    height: 20px;
    background: url("/images/flags/bahrain-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.bd {
    width: 20px;
    height: 20px;
    background: url("/images/flags/bangladesh-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
  
.flags.bb {
    width: 20px;
    height: 20px;
    background: url("/images/flags/barbados-na-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.by {
    width: 20px;
    height: 20px;
    background: url("/images/flags/belarus-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.be {
    width: 20px;
    height: 20px;
    background: url("/images/flags/belgium-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.bz {
    width: 20px;
    height: 20px;
    background: url("/images/flags/belize-ca-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.bj {
    width: 20px;
    height: 20px;
    background: url("/images/flags/benin-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.bo {
    width: 20px;
    height: 20px;
    background: url("/images/flags/bolivia-flag-icon.svg");
    background-size: contain;
}
  
.flags.ba {
    width: 20px;
    height: 20px;
    background: url("/images/flags/bosnia-flag-icon.svg");
    background-size: contain;
}
  
.flags.bw {
    width: 20px;
    height: 20px;
    background: url("/images/flags/botswana-flag-icon.svg");
    background-size: contain;
}
  
.flags.br {
    width: 20px;
    height: 20px;
    background: url("/images/flags/brazil-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.vg {
    width: 20px;
    height: 20px;
    background: url("/images/flags/british-virgin-islands-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.bn {
    width: 20px;
    height: 20px;
    background: url("/images/flags/brunei-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.bg {
    width: 20px;
    height: 20px;
    background: url("/images/flags/bulgaria-flag-icon.svg");
    background-size: contain;
}
  
.flags.bf {
    width: 20px;
    height: 20px;
    background: url("/images/flags/burkina-faso-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.mm {
    width: 20px;
    height: 20px;
    background: url("/images/flags/burma-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.bi {
    width: 20px;
    height: 20px;
    background: url("/images/flags/burundi-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.kh {
    width: 20px;
    height: 20px;
    background: url("/images/flags/cambodia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.cm {
    width: 20px;
    height: 20px;
    background: url("/images/flags/cameroon-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ca {
    width: 20px;
    height: 20px;
    background: url("/images/flags/canada-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.cv {
    width: 20px;
    height: 20px;
    background: url("/images/flags/cape-verde-flag-icon.svg");
    background-size: contain;
}
  
.flags.cf {
    width: 20px;
    height: 20px;
    background: url("/images/flags/central-african-republic-flag-icon.svg");
    background-size: contain;
}
  
.flags.td {
    width: 20px;
    height: 20px;
    background: url("/images/flags/chad-flag-icon.svg");
    background-size: contain;
}
  
.flags.cl {
    width: 20px;
    height: 20px;
    background: url("/images/flags/chile-flag-icon.svg");
    background-size: contain;
}
  
.flags.cn {
    width: 20px;
    height: 20px;
    background: url("/images/flags/china-2-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
  
.flags.co {
    width: 20px;
    height: 20px;
    background: url("/images/flags/colombia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.km {
    width: 20px;
    height: 20px;
    background: url("/images/flags/comoros-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.cr {
    width: 20px;
    height: 20px;
    background: url("/images/flags/costarica-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.hr {
    width: 20px;
    height: 20px;
    background: url("/images/flags/croatia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.cu {
    width: 20px;
    height: 20px;
    background: url("/images/flags/cuba-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.cy {
    width: 20px;
    height: 20px;
    background: url("/images/flags/cyprus-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.cz {
    width: 20px;
    height: 20px;
    background: url("/images/flags/czech-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.cd {
    width: 20px;
    height: 20px;
    background: url("/images/flags/democratic-republic-of-congo-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.dk {
    width: 20px;
    height: 20px;
    background: url("/images/flags/denmark-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.dj {
    width: 20px;
    height: 20px;
    background: url("/images/flags/djibouti-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.dm {
    width: 20px;
    height: 20px;
    background: url("/images/flags/dominica-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.do {
    width: 20px;
    height: 20px;
    background: url("/images/flags/dominican-republic-na-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.tl {
    width: 20px;
    height: 20px;
    background: url("/images/flags/east-timor-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ec {
    width: 20px;
    height: 20px;
    background: url("/images/flags/ecuador-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.eg {
    width: 20px;
    height: 20px;
    background: url("/images/flags/egypt-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.sv {
    width: 20px;
    height: 20px;
    background: url("/images/flags/el-salvador-ca-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.uk {
    width: 20px;
    height: 20px;
    background: url("/images/flags/england-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.gq {
    width: 20px;
    height: 20px;
    background: url("/images/flags/equatorial-guinea-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.er {
    width: 20px;
    height: 20px;
    background: url("/images/flags/eritrea-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ee {
    width: 20px;
    height: 20px;
    background: url("/images/flags/estonia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.et {
    width: 20px;
    height: 20px;
    background: url("/images/flags/ethiopia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.eu {
    width: 20px;
    height: 20px;
    background: url("/images/flags/eu-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.fk {
    width: 20px;
    height: 20px;
    background: url("/images/flags/falkland-islands-flag-icon.svg");
    background-size: contain;
}
  
.flags.fo {
    width: 20px;
    height: 20px;
    background: url("/images/flags/faroe-islands-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.fj {
    width: 20px;
    height: 20px;
    background: url("/images/flags/fiji-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.fi {
    width: 20px;
    height: 20px;
    background: url("/images/flags/finland-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.gf {
    width: 20px;
    height: 20px;
    background: url("/images/flags/french-guiana-flag-icon.svg");
    background-size: contain;
}
  
.flags.ga {
    width: 20px;
    height: 20px;
    background: url("/images/flags/gabon-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.gm {
    width: 20px;
    height: 20px;
    background: url("/images/flags/gambia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ge {
    width: 20px;
    height: 20px;
    background: url("/images/flags/georgia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.de {
    width: 20px;
    height: 20px;
    background: url("/images/flags/germany-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.gh {
    width: 20px;
    height: 20px;
    background: url("/images/flags/ghana-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.gi {
    width: 20px;
    height: 20px;
    background: url("/images/flags/gibraltar-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.gr {
    width: 20px;
    height: 20px;
    background: url("/images/flags/greece-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.gd {
    width: 20px;
    height: 20px;
    background: url("/images/flags/grenada-na-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.gt {
    width: 20px;
    height: 20px;
    background: url("/images/flags/guatemala-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.gg {
    width: 20px;
    height: 20px;
    background: url("/images/flags/guernsey-flag-icon.svg");
    background-size: contain;
}
  
.flags.gn {
    width: 20px;
    height: 20px;
    background: url("/images/flags/guinea-bissau-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.gy {
    width: 20px;
    height: 20px;
    background: url("/images/flags/guyana-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ht {
    width: 20px;
    height: 20px;
    background: url("/images/flags/haiti-na-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.hn {
    width: 20px;
    height: 20px;
    background: url("/images/flags/honduras-ca-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.hu {
    width: 20px;
    height: 20px;
    background: url("/images/flags/hungary-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.is {
    width: 20px;
    height: 20px;
    background: url("/images/flags/iceland-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.in {
    width: 20px;
    height: 20px;
    background: url("/images/flags/india-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.id {
    width: 20px;
    height: 20px;
    background: url("/images/flags/indonesia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ir {
    width: 20px;
    height: 20px;
    background: url("/images/flags/iran-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.iq {
    width: 20px;
    height: 20px;
    background: url("/images/flags/iraq-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ie {
    width: 20px;
    height: 20px;
    background: url("/images/flags/ireland-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.im {
    width: 20px;
    height: 20px;
    background: url("/images/flags/isle-of-man-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.il {
    width: 20px;
    height: 20px;
    background: url("/images/flags/israel-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.it {
    width: 20px;
    height: 20px;
    background: url("/images/flags/italy-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.jp {
    width: 20px;
    height: 20px;
    background: url("/images/flags/japan-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.je {
    width: 20px;
    height: 20px;
    background: url("/images/flags/jersey-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.jo {
    width: 20px;
    height: 20px;
    background: url("/images/flags/jordan-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.kz {
    width: 20px;
    height: 20px;
    background: url("/images/flags/kazakhstan-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ke {
    width: 20px;
    height: 20px;
    background: url("/images/flags/kenya-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ki {
    width: 20px;
    height: 20px;
    background: url("/images/flags/kiribati-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.kr {
    width: 20px;
    height: 20px;
    background: url("/images/flags/korea-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.xk {
    width: 20px;
    height: 20px;
    background: url("/images/flags/kosovo-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.kw {
    width: 20px;
    height: 20px;
    background: url("/images/flags/kuwait-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.kg {
    width: 20px;
    height: 20px;
    background: url("/images/flags/kyrgyzstan-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.la {
    width: 20px;
    height: 20px;
    background: url("/images/flags/laos-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.lr {
    width: 20px;
    height: 20px;
    background: url("/images/flags/liberia-flag-icon.svg");
    background-size: contain;
}
  
.flags.ly {
    width: 20px;
    height: 20px;
    background: url("/images/flags/libya-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.li {
    width: 20px;
    height: 20px;
    background: url("/images/flags/liechtenstein-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.lt {
    width: 20px;
    height: 20px;
    background: url("/images/flags/lithuania-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.lu {
    width: 20px;
    height: 20px;
    background: url("/images/flags/luxembourg-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.mk {
    width: 20px;
    height: 20px;
    background: url("/images/flags/macedonia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.mg {
    width: 20px;
    height: 20px;
    background: url("/images/flags/madagascar-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
  
.flags.mw {
    width: 20px;
    height: 20px;
    background: url("/images/flags/malawi-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.my {
    width: 20px;
    height: 20px;
    background: url("/images/flags/malaysia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.mv {
    width: 20px;
    height: 20px;
    background: url("/images/flags/maldives-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ml {
    width: 20px;
    height: 20px;
    background: url("/images/flags/mali-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.mt {
    width: 20px;
    height: 20px;
    background: url("/images/flags/malta-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ma {
    width: 20px;
    height: 20px;
    background: url("/images/flags/marocco-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.mh {
    width: 20px;
    height: 20px;
    background: url("/images/flags/marshall-islands-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.mr {
    width: 20px;
    height: 20px;
    background: url("/images/flags/mauritania-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.mx {
    width: 20px;
    height: 20px;
    background: url("/images/flags/mexico-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.fm {
    width: 20px;
    height: 20px;
    background: url("/images/flags/micronesia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.md {
    width: 20px;
    height: 20px;
    background: url("/images/flags/moldova-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.mc {
    width: 20px;
    height: 20px;
    background: url("/images/flags/monaco-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.mn {
    width: 20px;
    height: 20px;
    background: url("/images/flags/mongolia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.me {
    width: 20px;
    height: 20px;
    background: url("/images/flags/montenegro-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.mz {
    width: 20px;
    height: 20px;
    background: url("/images/flags/mozanbique-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.na {
    width: 20px;
    height: 20px;
    background: url("/images/flags/namibia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.nr {
    width: 20px;
    height: 20px;
    background: url("/images/flags/nauru-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.np {
    width: 20px;
    height: 20px;
    background: url("/images/flags/nepal-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.nl {
    width: 20px;
    height: 20px;
    background: url("/images/flags/netherlands-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.nz {
    width: 20px;
    height: 20px;
    background: url("/images/flags/new-zealand-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ni {
    width: 20px;
    height: 20px;
    background: url("/images/flags/nicaragua-ca-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ne {
    width: 20px;
    height: 20px;
    background: url("/images/flags/niger-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ng {
    width: 20px;
    height: 20px;
    background: url("/images/flags/nigeria-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.kp {
    width: 20px;
    height: 20px;
    background: url("/images/flags/north-korea-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
  
.flags.no {
    width: 20px;
    height: 20px;
    background: url("/images/flags/norway-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.om {
    width: 20px;
    height: 20px;
    background: url("/images/flags/oman-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.pk {
    width: 20px;
    height: 20px;
    background: url("/images/flags/pakistan-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.pw {
    width: 20px;
    height: 20px;
    background: url("/images/flags/palau-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ps {
    width: 20px;
    height: 20px;
    background: url("/images/flags/palestine-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.pa {
    width: 20px;
    height: 20px;
    background: url("/images/flags/panama-ca-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.pg {
    width: 20px;
    height: 20px;
    background: url("/images/flags/papua-new-guinea-flag-icon.svg");
    background-size: contain;
}
  
.flags.py {
    width: 20px;
    height: 20px;
    background: url("/images/flags/paraguay-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.pe {
    width: 20px;
    height: 20px;
    background: url("/images/flags/peru-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ph {
    width: 20px;
    height: 20px;
    background: url("/images/flags/philippines-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.pl {
    width: 20px;
    height: 20px;
    background: url("/images/flags/poland-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.pt {
    width: 20px;
    height: 20px;
    background: url("/images/flags/portugal-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.pr {
    width: 20px;
    height: 20px;
    background: url("/images/flags/puerto-rico-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}

.flags.qa {
    width: 20px;
    height: 20px;
    background: url("/images/flags/quatar-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}

.flags.ro {
    width: 20px;
    height: 20px;
    background: url("/images/flags/romania-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.rw {
    width: 20px;
    height: 20px;
    background: url("/images/flags/rwanda-flag-icon.svg");
    background-size: contain;
}
  
.flags.kn {
    width: 20px;
    height: 20px;
    background: url("/images/flags/saint-kitts-nevis-flag-icon.svg");
    background-size: contain;
}
  
.flags.lc {
    width: 20px;
    height: 20px;
    background: url("/images/flags/saint-lucia-na-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ws {
    width: 20px;
    height: 20px;
    background: url("/images/flags/samoa-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.sm {
    width: 20px;
    height: 20px;
    background: url("/images/flags/san-marino-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.st {
    width: 20px;
    height: 20px;
    background: url("/images/flags/sao-tome-and-principe-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.sa {
    width: 20px;
    height: 20px;
    background: url("/images/flags/saudi-arabia-flag-icon.svg");
    background-size: contain;
}
  
  
.flags.sn {
    width: 20px;
    height: 20px;
    background: url("/images/flags/senegal-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.rs {
    width: 20px;
    height: 20px;
    background: url("/images/flags/serbia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.sc {
    width: 20px;
    height: 20px;
    background: url("/images/flags/seychelles-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.sl {
    width: 20px;
    height: 20px;
    background: url("/images/flags/sierra-leone-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.sg {
    width: 20px;
    height: 20px;
    background: url("/images/flags/singapore-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.sk {
    width: 20px;
    height: 20px;
    background: url("/images/flags/slovakia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.si {
    width: 20px;
    height: 20px;
    background: url("/images/flags/slovenia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.so {
    width: 20px;
    height: 20px;
    background: url("/images/flags/somalia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.za {
    width: 20px;
    height: 20px;
    background: url("/images/flags/south-africa-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.gs {
    width: 20px;
    height: 20px;
    background: url("/images/flags/south-sandwich-islands-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ss {
    width: 20px;
    height: 20px;
    background: url("/images/flags/south-sudan-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.es {
    width: 20px;
    height: 20px;
    background: url("/images/flags/spain-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.lk {
    width: 20px;
    height: 20px;
    background: url("/images/flags/sri-lanka-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.sd {
    width: 20px;
    height: 20px;
    background: url("/images/flags/sudan-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.sr {
    width: 20px;
    height: 20px;
    background: url("/images/flags/suriname-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.sz {
    width: 20px;
    height: 20px;
    background: url("/images/flags/swaziland-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.se {
    width: 20px;
    height: 20px;
    background: url("/images/flags/sweeden-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ch {
    width: 20px;
    height: 20px;
    background: url("/images/flags/swiss-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.sy {
    width: 20px;
    height: 20px;
    background: url("/images/flags/syria-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.tw {
    width: 20px;
    height: 20px;
    background: url("/images/flags/taiwan-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.tj {
    width: 20px;
    height: 20px;
    background: url("/images/flags/tajikistan-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.tz {
    width: 20px;
    height: 20px;
    background: url("/images/flags/tanzania-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.th {
    width: 20px;
    height: 20px;
    background: url("/images/flags/thailand-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.tg {
    width: 20px;
    height: 20px;
    background: url("/images/flags/togo-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.to {
    width: 20px;
    height: 20px;
    background: url("/images/flags/tonga-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.tt {
    width: 20px;
    height: 20px;
    background: url("/images/flags/trinidad-tobago-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.tn {
    width: 20px;
    height: 20px;
    background: url("/images/flags/tunisia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.tr {
    width: 20px;
    height: 20px;
    background: url("/images/flags/turkey-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.tm {
    width: 20px;
    height: 20px;
    background: url("/images/flags/turkmenistan-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.tv {
    width: 20px;
    height: 20px;
    background: url("/images/flags/tuvalu-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ug {
    width: 20px;
    height: 20px;
    background: url("/images/flags/uganda-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}

.flags.gb {
    width: 20px;
    height: 20px;
    background: url("/images/flags/ukraine-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ae {
    width: 20px;
    height: 20px;
    background: url("/images/flags/united-arab-emirates-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.uy {
    width: 20px;
    height: 20px;
    background: url("/images/flags/uruguay-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.vi {
    width: 20px;
    height: 20px;
    background: url("/images/flags/us-virgin-islands-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.uz {
    width: 20px;
    height: 20px;
    background: url("/images/flags/uzbekistan-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.vu {
    width: 20px;
    height: 20px;
    background: url("/images/flags/vanuatu-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ve {
    width: 20px;
    height: 20px;
    background: url("/images/flags/venezuela-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.vn {
    width: 20px;
    height: 20px;
    background: url("/images/flags/vietnam-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.ye {
    width: 20px;
    height: 20px;
    background: url("/images/flags/yemen-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.zm {
    width: 20px;
    height: 20px;
    background: url("/images/flags/zambia-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}
  
.flags.zw {
    width: 20px;
    height: 20px;
    background: url("/images/flags/zimbabwe-flag-icon.svg");
    background-size: contain;
    border-radius: 50%;
}