@import "~slick-carousel/slick/slick.css";
@import "./colors";
@import "./mixins";

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #300300;
    box-sizing: border-box;
    min-height: auto;

    &.noScroll {
        overflow: hidden;
    }
}

input,
textarea {
    font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    vertical-align: middle;
}

img[src=""] {
    position: fixed;
    top: -1000px;
}

a {
    text-decoration: none;
    color: #300300;
}

h1 {
    margin: 0;
    color: white;
    font-size: 56px;
    font-weight: 900;
    line-height: 80px;
}

h2 {
    margin: 0;
    color: $red;
    font-size: 88px;
    font-weight: 900;
    line-height: 120px;
}

h3 {
    margin: 0;
    color: $red;
    font-size: 32px;
    font-weight: 900;
    line-height: 39px;
}

h5 {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
    color: $grey1;
    line-height: 44px;
}

h6 {
    color: $yellow;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    text-transform: uppercase;
}

p {
    margin: 0 0 32px;
    color: $grey1;
    font-size: 16px;
    line-height: 32px;
}

.expand {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.bolder {
    font-weight: 900;
}

.red {
    color: $red;
}

.fill {
    flex-grow: 1;
}

.smallScreen {
    @include media(md) {
        display: none !important;
    }
}

.bigScreen {
    @include media($max: md) {
        display: none !important;
    }
}

@media (width: 360px) {
    h1 {
        font-size: 40px;
        line-height: 48px;
    }

    h2 {
        font-size: 40px;
        line-height: 48px;
    }

    h5 {
        font-size: 24px;
        line-height: 32px;
    }

    p {
        line-height: 29px;
    }
}

.separator_hr {
    width: 80%;
    margin: auto;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 9.88%, #FFFFFF 82.29%, rgba(255, 255, 255, 0.0001) 100%);
    height: 1px;
    opacity: .2;
}

.separator_vr {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 9.88%, #FFFFFF 82.29%, rgba(255, 255, 255, 0.0001) 100%);
    width: 1px;
    height: 80px;
    opacity: .2;
}

.separator_mobile {
    @include media($max: md) {
        display: none;
    }
}