html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #300300;
    box-sizing: border-box;
}

input,
textarea {
    font-family: 'Lato', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    vertical-align: middle;
}

.expand {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}
