@import "styles/colors";
@import "styles/mixins";

.gamesInfo__weeklyLottery__chance {
    .chanceInfo {
        background: linear-gradient(135deg, $red 0%, $yellow 200%);
        border-radius: 8px;
        padding: 16px;
        color: white;
        text-align: center;
        font-size: 16px;

        @include media(md) {
            font-size: 20px;
        }
    }

    .explain {
        margin-top: 12px;
        font-size: 12px;
        color: $grey1;
        text-align: center;
    }

    .comparisons {
        margin-top: 64px;

        .title {
            color: $dark;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 32px;
        }

        .table {
            max-width: 740px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            @include media(md) {
                flex-direction: row;
            }

            .column {
                &:not(:first-of-type) {
                    border-top: 1px solid $greyBright;

                    @include media(md) {
                        margin-left: 64px;
                        border-top: none;
                    }
                }

                .lotteryRow {
                    width: 100%;
                    padding: 14px 0;
                    display: flex;
                    justify-content: space-between;

                    @include media(md) {
                        width: 260px;
                    }

                    &:not(:first-of-type) {
                        border-top: 1px solid $greyBright;
                    }

                    .name {
                        color: $grey1;
                        font-size: 14px;
                    }

                    .chance {
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
