@import "styles/colors";
@import "styles/mixins";

.userProfile {
    padding-bottom: 72px;

    .background {
        background-size: 100% 400px;
        padding-bottom: 0;

        .elements {
            .moon {
                bottom: -900px;
            }
        }
    }

    .userInfo {
        @include centerMax;

        position: relative;
        padding: 16px;
        display: flex;
        align-items: center;

        @include media(sm) {
            padding: 32px 40px;
        }

        .userInfo {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .logoutButton {
            padding: 6px 12px;

            .icon {
                height: 16px;
            }
        }

        .closeButton {
            margin-left: 24px;
            width: 18px;
            height: 18px;
        }
    }

    .contextTabs {
        @include centerMax;

        padding: 0 16px;

        @include media(sm) {
            padding: 0 40px;
        }
    }

    .userForm {
        @include centerMax(600px);

        padding: 32px 15px 15px;

        @include media(sm) {
            padding: 120px 40px 40px;
        }
    }
}
