@import "styles/colors";

.linkButton {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    color: $pink;
    transition: color 0.5s;
    text-transform: uppercase;

    svg,
    img {
        margin-right: 12px;
        max-height: 19px;
        max-width: 19px;
    }

    path {
        color: $pink;
        transition: fill 0.5s;
    }

    &:hover {
        color: white;

        path {
            fill: white;
        }
    }

    &.active {
        color: white;

        path {
            fill: white;
        }

        img {
            filter: brightness(0) invert(1);
        }
    }
}
