@import "styles/mixins";

.userCard {
    .reverse {
        flex-direction: column-reverse;
    }

    &__thumb {
        margin: 14px 0;
        text-align: center;
    }

    &__type {
        margin: 6px 0;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        line-height: 15px;
        color: $grey1;
    }

    &__users {
        margin: 6px 0;
        text-align: center;
        font-size: 24px;
        font-weight: 900;
        line-height: 29px;
        color: $dark;
    }

    &__percent {
        font-size: 12px;
        font-weight: 900;
        line-height: 15px;
        color: $green;
    }
}